@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Solveur</PageTitle>


Bienvenue sur Le Mot: Solveur
<p>
    <div class="form-floating">
        <input class="form-control" type="text" style="text-transform:uppercase" id="possCharacters" @bind=PossibleCharacters />
        <label for="possCharacters">Lettres potentielle</label>
    </div>
    
    <button class="btn btn-primary" @onclick="Search">Recherche</button>
</p>

@if (words == null || !words.Any())
{
    <p> Chargement... </p>
}
else
{
    <WordList Words="@words" />
}