@inherits LayoutComponentBase
@*<MudThemeProvider/>
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <NavMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@

<MudThemeProvider />

<MudLayout>
    <NavMenu />
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>