<Virtualize Context="word" Items="@WordsCollection"  OverscanCount="9">
     <ItemContent>
         @word<br />
     </ItemContent>    
     <Placeholder>
        <p>
            Chargement&hellip;
        </p>
    </Placeholder>
</Virtualize>
@code {
    [Parameter]
    public IEnumerable<string> Words
    {
        get { return WordsCollection.ToList(); }
        set { WordsCollection = value.OrderBy(x=>x).ToList(); }
    }

    public ICollection<string> WordsCollection { get; set; }
}
