@* @foreach(string word in Words.OrderBy(x=>x))
    {
    <div >@word</div><br />
    } *@
<Virtualize Items="@Words" Context="word">
    <ItemContent>
        <div>@word</div><br />
    </ItemContent>

    <Placeholder>
        <p>
            Chargement...
        </p>
    </Placeholder>
</Virtualize>
@code {
    [Parameter]
    public IEnumerable<string> Words { get; set; }
}
